:root {
  --body-color: #212121;
  --blue-hover: #2196f3;
  --contact-gray: #757575;
  --white-text: #ffffff;
  --our-team-color: #f5f4fa;
  --clients-icons: #afb1b8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--body-color);
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.no-dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

img {
  display: block;
}

/* Index&Porfolio-Header styling */

.menu {
  color: var(--body-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.menu:hover,
.menu:focus {
  color: var(--blue-hover);
}

.web {
  color: var(--blue-hover);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.studio-top {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  margin-right: 93px;
}

.contact-top {
  color: var(--contact-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.contact-top:hover,
.contact-top:focus {
  color: var(--blue-hover);
}

/* Index&Porftolio header positioning */

.container-header {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.container-header-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

div.container-header-menu > nav > ul > li {
  display: inline-block;
  margin-right: 46px;
}

.container-header-contact {
  align-items: center;
  display: flex;
}

div.container-header-contact > p {
  margin: 0;
}

div.container-header-contact > p {
  margin-left: 50px;
}

/* Index-Main styling */

.main-header {
  color: var(--white-text);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}

.btn-studio {
  background-color: var(--blue-hover);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  margin-top: 30px;
  padding: 10px 41px 10px 42px;
}

ul.lorem-list > li > h2 {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

ul.lorem-list > li > p {
  color: var(--contact-gray);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  margin-top: 10px;
}

.offer-header {
  font-size: 36px;
  line-height: 0.86;
  margin: 0;
  margin-top: 70px;
  text-align: center;
}

.our-team-header {
  font-size: 36px;
  line-height: 0.86;
  margin: 0;
  padding-top: 94px;
  text-align: center;
}

ul.our-team-list > li > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
}

ul.our-team-list > li > p {
  color: var(--contact-gray);
  font-size: 16px;
  line-height: 1.88;
}

/*Index-Main positioning*/

.section-main-header {
  align-items: center;
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.btn-studio-div {
  display: flex;
  justify-content: center;
}

.lorem-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

ul.lorem-list > li {
  height: 101px;
  width: 270px;
}

.offer-pictures {
  display: flex;
  gap: 30px;
  margin-bottom: 0;
  margin-top: 50px;
}

.our-team-section {
  background-color: var(--our-team-color);
  height: 692px;
  padding-top: 0;
}

.our-team-ppl {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 50px;
}

ul.our-team-ppl > li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 30px;
  height: 428px;
  text-align: center;
  width: 270px;
  background-color: var(--white-text);
  padding-bottom: 44px;
}

ul.our-team-ppl > li > h3 {
  margin: 0;
  margin-top: 30px;
}

ul.our-team-ppl > li > p {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 10px;
}

/* Portfolio-Main styling*/

.btn-portfolio {
  background-color: var(--our-team-color);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  cursor: pointer;
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: white;
}

/* Porftolio-Main positioning */

.filter-btns {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 0;
}

.projects-border {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 24px 20px;
}

div.projects-border > h3 {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 0;
  margin-bottom: 4px;
}

div.projects-border > p {
  color: #757575;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  margin: 0px;
}

/*Index&Portfolio-footer styling */

footer {
  background-color: #2f303a;
  height: 252px;
}

.studio-bottom {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.contact-bottom {
  font-style: normal;
  margin: 0;
  text-decoration: none;
}

.contact-bottom-street {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
}

.contact-bottom > li > a {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-bottom > li > a:focus,
.contact-bottom > li > a:hover {
  color: var(--blue-hover);
}

ul.contact-bottom a[href^="mailto:"] {
  text-decoration: underline;
}

/* Index&Portfolio footer positioning*/

.container-footer-address {
  display: flex;
  flex-direction: column;
  height: 252px;
}

ul.contact-bottom > li {
  margin-top: 9px;
}

ul.contact-bottom > li:first-child {
  margin-top: 20px;
}

div.container-footer-address > a {
  margin-top: 60px;
}

/*----------Homework #4----------*/

/*  Headers  */

.contact-top-icon {
  margin-right: 10px;
  fill: var(--contact-gray);
}

.contact-top:hover .contact-top-icon use,
.contact-top:hover,
.contact-top:focus .contact-top-icon use,
.contact-top:focus {
  color: var(--blue-hover);
  fill: var(--blue-hover);
}

/* Index Main */

.section-main-header {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/h1_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
}

ul.lorem-list > li > h2 {
  margin-top: 30px;
}

ul.lorem-list > li > svg > use:hover {
  stroke: var(--blue-hover);
  stroke-width: 0.5;
}

.lorem-list-rect {
  fill: var(--our-team-color);
}

.our-team-icons {
  display: flex;
  list-style: none;
}

.our-team-icons > li:first-child {
  margin-left: 32px;
}

.our-team-icons > li:last-child {
  margin-right: 32px;
}

.our-team-icon {
  display: block;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--clients-icons);
}

.our-team-icons li a svg:hover,
.our-team-icons li a:focus svg {
  background-color: var(--blue-hover);
}

.our-team-icons li a:hover svg use,
.our-team-icons li a:focus svg use {
  fill: var(--white-text);
}

.our-clients-header {
  font-size: 36px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.our-clients-logos {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.client-logo {
  fill: var(--clients-icons);
}

ul.our-clients-logos > li {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-logo:hover use {
  fill: var(--blue-hover);
}

.our-clients-logos li:hover {
  border-color: var(--blue-hover);
}

.our-clients-logos li a:focus svg use {
  fill: var(--blue-hover);
}

.our-clients-logos li:focus-within {
  border-color: var(--blue-hover);
}

/* Portfolio */

ul.projects > li {
  cursor: pointer;
}

ul.projects > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footers */

.container-footer {
  display: flex;
  align-content: center;
}

h4 {
  color: var(--white-text);
  font-size: 14px;
}

.join-us {
  margin-top: 72px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.join-us-icons {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 20px;
}

.join-us-icon {
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-us-icon use {
  fill: var(--white-text);
}

.join-us-icon:hover {
  background-color: var(--blue-hover);
}

.join-us-icons li a:focus svg {
  background-color: var(--blue-hover);
}
