body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
}

.no-decoration-list {
    list-style: none;
}

/*Positioning header*/

.container-header {
    display: flex;
    padding-top: 24px;
    justify-content: flex-start;
    align-items: center;
}

.left-top-page {
    display: flex;
    padding-right: 50px;
}

ul.left-top-page>li>a {
    padding-right: 46px;
}

ul.left-top-page>li:first-child {
    padding-left: 93px;
}

ul.left-top-page>li:last-child {
    padding-right: 254px;
}

/*Positioning Studio main */

.section-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F303A;
    height: 600px;

}

.lorem-list {
    display: flex;
    justify-content: space-around;
    padding-top: 94px;
    margin-top: 0;
}

.offer-header {
    text-align: center;
    padding-top: 94px;
}

.offer-pictures {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.our-team-section {
    background-color: #F5F4FA;
}

.our-team-div {
    background-color: #F5F4FA;
    margin-top: 94px;
    margin-bottom: -16px;
}

.our-team-header {
    text-align: center;
    padding-top: 94px;
}

.our-team-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 0;
}

/*Positioning Portfolio main */

.filter-btns {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 94px;
    margin: 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0;
}

ul.projects>li {
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
}

/* Positioning footer */

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 252px;
    padding-top: 60px;
    background-color: #2F303A;

}

.background-footer {
    background-color: #2F303A;
}

/*Head, h1 and footer styling */

.web {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-left: 40px;
}

.studio-up {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio-bottom {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.contact {
    color: #757575;
    text-decoration: none;
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

.street {
    color: #ffffff;
}

.menu-hover {
    text-decoration: none;
    color: #212121;
}

.menu-hover:hover,
.menu-hover:focus {
    color: #2196F3;
}


.main-header {
    font-size: 44px;
    color: #ffffff;
    font-weight: 900;
    line-height: 1.36;
    margin-top: 200px;
    display: flex;
    width: 696px;
    text-align: center;
}

.font-normal {
    font-style: normal;
}

/* Studio button styling */

.btn-studio {
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Portfolio buttons styling */

.btn-portfolio {
    background-color: #F5F4FA;
    border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: white;
    background-color: #2196F3;
    cursor: pointer;
}

/*Font-sizes section*/

.size-36 {
    font-size: 36px;
}

.size-26 {
    font-size: 26px;
}

.size-18 {
    font-size: 18px;
}

.size-16 {
    font-size: 16px;
}

.size-14 {
    font-size: 14px;
}

/* Colors */

.color-gray {
    color: #757575;
}

/* Font weights */

.font-500 {
    font-weight: 500;
}

/* Line heights */

.height-114 {
    line-height: 1.14;
}

.height-171 {
    line-height: 1.71;
}

.height-086 {
    line-height: 0.86;
}

.height-188 {
    line-height: 1.88;
}

.height-163 {
    line-height: 1.63;
}

.height-200 {
    line-height: 2;
}