    body {
        color: #212121;
        font-family: 'Roboto', 'Raleway', sans-serif;
        margin: 0 auto;
    }

    header {
        border-bottom: 1px solid #ECECEC;
        height: 80px;
    }

    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 15px;
    }

    .no-dots {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .section {
        margin: 0 auto;
        padding-bottom: 94px;
        padding-top: 94px;
    }

    img {
        display: block;
    }

    /* Index&Porfolio-Header styling */

    .menu {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        text-decoration: none;
    }

    .menu:hover,
    .menu:focus {
        color: #2196F3;
    }

    .web {
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
    }

    .studio-top {
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        margin-right: 93px;
    }

    .contact-top {
        color: #757575;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        text-decoration: none;
    }

    .contact-top:hover,
    .contact-top:focus {
        color: #2196F3
    }

    /* Index&Porftolio header positioning */

    .container-header {
        display: flex;
        height: 80px;
        justify-content: space-between;
    }

    .container-header-menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    div.container-header-menu>nav>ul>li {
        display: inline-block;
        margin-right: 46px;
    }

    .container-header-contact {
        align-items: center;
        display: flex;
    }

    div.container-header-contact>p {
        margin: 0;
    }

    div.container-header-contact>p {
        margin-left: 50px;
    }

    /* Index-Main styling */

    .main-header {
        color: #ffffff;
        font-size: 44px;
        font-weight: 900;
        letter-spacing: 0.06em;
        line-height: 1.36;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        width: 696px;
    }

    .btn-studio {
        background-color: #2196F3;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        line-height: 1.88;
        margin-top: 30px;
        padding: 10px 41px 10px 42px;
    }

    ul.lorem-list>li>h2 {
        font-size: 14px;
        line-height: 1.14;
        margin: 0;
    }

    ul.lorem-list>li>p {
        color: #757575;
        font-size: 14px;
        line-height: 1.71;
        margin: 0;
        margin-top: 10px;
    }

    .offer-header {
        font-size: 36px;
        line-height: 0.86;
        margin: 0;
        text-align: center;
    }

    .our-team-header {
        font-size: 36px;
        line-height: 0.86;
        margin: 0;
        padding-top: 94px;
        text-align: center;
    }

    ul.our-team-list>li>h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88;
    }

    ul.our-team-list>li>p {
        color: #757575;
        font-size: 16px;
        line-height: 1.88;
    }

    /*Index-Main positioning*/

    .section-main-header {
        align-items: center;
        background-color: #2F303A;
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: center;
    }

    .btn-studio-div {
        display: flex;
        justify-content: center;
    }

    .lorem-list {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    ul.lorem-list>li {
        height: 101px;
        width: 270px;
    }

    .offer-pictures {
        display: flex;
        gap: 30px;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .our-team-section {
        background-color: #F5F4FA;
        height: 648px;
        padding-top: 0;
    }

    .our-team-ppl {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
    }

    ul.our-team-ppl>li {
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        gap: 30px;
        height: 368px;
        text-align: center;
        width: 270px;
    }

    ul.our-team-ppl>li>h3 {
        margin: 0;
        margin-top: 30px;
    }

    ul.our-team-ppl>li>p {
        margin: 0;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    /* Portfolio-Main styling*/

    .btn-portfolio {
        background-color: #F5F4FA;
        border-radius: 4px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        padding: 6px 22px;
    }

    .btn-portfolio:focus,
    .btn-portfolio:hover {
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: white;
        cursor: pointer;
    }

    /* Porftolio-Main positioning */

    .filter-btns {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 50px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        margin: 0;
    }

    .projects-border {
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        padding: 24px 20px;
    }

    div.projects-border>h3 {
        font-size: 18px;
        letter-spacing: 0.06em;
        line-height: 2;
        margin: 0;
        margin-bottom: 4px;
    }

    div.projects-border>p {
        color: #757575;
        color: #757575;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.88;
        margin: 0px;
    }

    /*Index&Portfolio-footer styling */

    footer {
        background-color: #2F303A;
        height: 252px;
    }

    .studio-bottom {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
    }

    .contact-bottom {
        font-style: normal;
        margin: 0;
        text-decoration: none;
    }

    .contact-bottom-street {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 1.71;
    }

    .contact-bottom>li>a {
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    }

    .contact-bottom>li>a:focus,
    .contact-bottom>li>a:hover {
        color: #2196F3;
    }

    ul.contact-bottom a[href^="mailto:"] {
        text-decoration: underline;
    }

    /* Index&Portfolio footer positioning*/

    .container-footer {
        display: flex;
        flex-direction: column;
        height: 252px;
    }

    ul.contact-bottom>li {
        margin-top: 9px;
    }

    ul.contact-bottom>li:first-child {
        margin-top: 20px;
    }

    div.container-footer>a {
        margin-top: 60px;
    }

    /*------Homework #4------*/

    ul.lorem-list>li>svg {
        margin-bottom: 30px;
    }