@import "../utils/vars";

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: getcolor("main");
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal__form label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin: 0 0 4px 40px;
  color: getcolor("second-info");
}

.modal__form-div {
  position: relative;
}

.modal__input {
  display: block;
  width: 448px;
  height: 40px;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: getcolor("second-info");
  }

  &:focus {
    border-color: getcolor("interact");
  }
}

#modal-name {
  margin-top: 12px;
}

.modal__icon-person {
  position: absolute;
  top: 40px;
  left: 56px;
  width: 13px;
  height: 13px;
  fill: #212121;
}

.modal__icon-phone {
  position: absolute;
  top: 32px;
  left: 56px;
  width: 13px;
  height: 13px;
  fill: #212121;
}

.modal__icon-email {
  position: absolute;
  top: 32px;
  left: 56px;
  width: 13px;
  height: 13px;
  fill: #212121;
}

.modal__input:focus + .modal__icon-person use {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: getcolor("interact");
}

.modal__input:focus + .modal-icon-email use {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: getcolor("interact");
}

.modal__input:focus + .modal__icon-phone use {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: getcolor("interact");
}

#modal-comments {
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  margin-left: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: getcolor("interact");
  }
}

.hidden-checkbox {
  position: absolute;
  left: 20.3px;
  bottom: 1.5px;
  z-index: 10;
  opacity: 0;
}

.modal__terms {
  position: relative;
  width: 16px;
  height: 15px;
  margin-top: 20px;
  margin-left: 38px;
}

.modal__icon-checked {
  position: absolute;
  left: 57px;
  bottom: 113px;
  opacity: 0;
}

.modal__terms:checked ~ .modal__icon-checked {
  opacity: 1;
}

.modal__terms:checked ~ .modal__icon-checkbox {
  opacity: 0;
}

.modal__terms:focus ~ .modal__icon-checkbox use,
.modal__terms:hover ~ .modal__icon-checkbox use {
  stroke: getcolor("interact");
  stroke-width: 4px;
}

.modal__terms:focus ~ .modal__icon-checked use,
.modal__terms:hover ~ .modal__icon-checked use {
  stroke: getcolor("main");
  stroke-width: 4px;
}

.modal__terms-span {
  position: absolute;
  margin-top: 26px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: getcolor("second-info");
}

.modal__terms-span a {
  color: getcolor("interact");
}

.modal__btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modal__btn-send {
  background-color: getcolor("interact");
  color: getcolor("white");
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
