@media screen and (min-width: 1200px) {
  footer {
    height: 252px;
  }

  .container-footer {
    display: flex;
    text-align: start;
  }

  .section-contact-footer {
    padding: 0;
  }

  .join-us__header {
    margin-top: 14px;
  }

  .join-us {
    display: flex;
    flex-direction: column;
  }
}
