@import "../utils/vars";

footer {
  background-color: #2f303a;
  height: 603px;
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 0;
  text-align: center;

  &__link {
    text-decoration: none;
    transition: $transition;
    height: 30px;
    width: 145px;

    &:focus {
      outline: $outline-focus;
    }
  }

  &__logo-web {
    color: getcolor("interact");
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
  }

  &__logo-studio {
    color: getcolor("white");
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
  }
}

.section-contact-footer {
  padding-top: 0;
}

.address__list {
  list-style: none;
  font-style: normal;

  > li {
    margin-bottom: 12px;
    text-decoration: none;
    color: getcolor("white");

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.address__item-street {
  color: getcolor("white");
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 28px;
}

.address__link {
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: $transition;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  white-space: nowrap;
  list-style: none;

  &:focus,
  &:hover {
    color: getcolor("interact");
  }

  &[href^="mailto:"] {
    text-decoration: underline;
  }
}

.join-us__header {
  color: getcolor("white");
  font-size: 14px;
  text-transform: uppercase;
}

.join-us {
  display: flex;
  justify-content: center;

  &__icons {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 20px;

    > li > a {
      display: block;
      border-radius: 50%;
      margin-right: 10px;

      &:focus svg {
        background-color: getcolor("interact");
      }
    }
  }

  &__icon {
    cursor: pointer;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: $transition;
    fill: getcolor("white");

    &:hover {
      background-color: getcolor("interact");
    }
  }
}
