@import "../utils/vars";

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline-color: transparent;
  }
}

body {
  color: getcolor("main");
  font-family: getfont("roboto");
}

header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

.section {
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

img {
  display: block;
}

/*--------1200px---------*/
/*--------1200px---------*/
/*--------1200px---------*/
/*--------1200px---------*/
/*--------1200px---------*/

@media screen and (min-width: 1200px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .section {
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 94px;
  }

  .container {
    max-width: 1200px;
  }
}
