@import "../utils/vars";

.section-main-header {
  display: flex;
  align-items: center;
  background-color: #2f303a;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  background: {
    image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/h1_background.jpg");
    repeat: no-repeat;
    position: center;
    size: 480px 400px;
  }

  &__header {
    text-align: center;
    color: getcolor("white");
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.62;
    margin: 0;
    text-transform: uppercase;
    width: 385px;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
  }

  .section-main-header__btn-buy {
    background-color: getcolor("interact");
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: getcolor("white");
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.88;
    margin-top: 30px;
    padding: 10px 41px 10px 42px;

    &:focus {
      outline: $outline-focus;
    }
  }
}

.section-lorem__lorem-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > li {
    > h2 {
      font-size: 14px;
      line-height: 1.14;
      margin: 0;
      margin-top: 30px;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: center;
    }

    > p {
      color: getcolor("second-info");
      font-size: 14px;
      line-height: 1.71;
      margin: 0;
      margin-bottom: 30px;
      letter-spacing: 0.03em;
    }

    > svg {
      width: 450px;
      height: 120px;

      > use {
        transform: translateX(190px) translateY(25px);
      }
    }
    > svg > use:hover {
      stroke: getcolor("interact");
      stroke-width: 0.5;
      transition: $transition;
    }
  }
}

.section-lorem__item-rect {
  fill: getcolor("white-block");
  width: 450px;
  height: 120px;
}

.section-offer {
  display: none;
}

.section-offer__offer-header {
  font-size: 36px;
  line-height: 0.86;
  margin: 0;
  text-align: center;
}

.section-offer__offer-pictures {
  display: flex;
  gap: 30px;
  margin-bottom: 0;
  margin-top: 50px;
  list-style: none;
}

.section-offer__offer-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  color: white;
}

.section-offer__offer-item {
  position: relative;
}

.section-our-team {
  background-color: getcolor("main");
  padding-top: 0;
  width: 100%;
}

.section-our-team__header {
  font-size: 36px;
  line-height: 0.86;
  margin: 0;
  padding-top: 94px;
  text-align: center;
}

.section-our-team__employees {
  margin: 0;
  margin-top: 50px;
  list-style: none;

  > li {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    height: 622px;
    text-align: center;
    width: 450px;
    background-color: getcolor("white");
    margin-bottom: 30px;

    > img {
      width: 450px;
      height: 460px;
    }

    > h3 {
      margin: 0;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.88;
    }

    > p {
      margin: 0;
      color: getcolor("second-info");
      font-size: 16px;
      line-height: 1.88;
    }
  }
}

.section-our-team__icons {
  display: flex;
  list-style: none;
  margin-top: 13px;

  & > li:first-child {
    margin-left: 122px;
  }

  & li > a > svg:hover,
  > li > a:focus > svg {
    background-color: getcolor("interact");
  }

  & > li > a:hover svg use,
  > li > a:focus > svg use {
    fill: getcolor("white");
  }
}

.section-our-team__icon {
  display: block;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  fill: getcolor("clients-logos");
  transition: $transition;
}

.section-clients__header {
  font-size: 36px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.section-clients__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  > li {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: $transition;

    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }

    &:hover {
      border-color: getcolor("interact");
    }

    & > a:focus > svg > use {
      fill: getcolor("interact");
    }

    &:focus-within {
      border-color: getcolor("interact");
    }
  }
}

.section-clients__logo {
  fill: getcolor("clients-logos");
  width: 210px;
  height: 92px;

  > use {
    transition: $transition;
  }

  &:hover > use {
    fill: getcolor("interact");
  }
}
