@import "../utils/vars";

.header-container {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__link {
    color: getcolor("main");
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    width: 137px;
    transition: $transition;

    &:focus {
      outline: $outline-focus;
    }
  }

  li {
    display: inline-block;
    margin-right: 46px;
  }

  &__logo-web {
    color: getcolor("interact");
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }

  &__logo-studio {
    color: #000000;
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.nav__list {
  display: none;
}

.header-contact {
  display: none;
}

.header-mobile-menu__btn {
  width: 40px;
  height: 40px;
  background-color: getcolor("white");
  border: none;
  cursor: pointer;
  transition: $transition;
  margin-top: 22px;

  &:focus,
  &:hover {
    fill: getcolor("interact");
    transition: $transition;
  }
}

.header-menu-burger__btn {
  position: absolute;
  border-radius: 50%;
  left: 90%;
  top: 2%;
  background-color: getcolor("white");
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: getcolor("interact");
  }
}

.header-menu-burger__btn-container {
  display: none;
  max-width: 480px;
  width: 100%;
}

.nav__list-burger {
  margin-top: 48px;
  list-style-type: none;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  list-style: none;

  > li {
    margin-bottom: 36px;
    margin-left: 40px;

    > a {
      text-decoration: none;
      color: getcolor("main");

      &:hover,
      &:focus {
        color: getcolor("interact");
      }
    }
  }
}

.header-contact-burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
}

.header-contact-burger__link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  /* identical to box height */
  letter-spacing: 0.02em;
  text-decoration: none;
  color: getcolor("second-info");
  margin-bottom: 32px;

  &:hover,
  &:focus {
    color: getcolor("interact");
  }

  &:last-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
}

.header-contact-burger__socials {
  display: flex;

  > ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 10px 48px 0;
    > li {
      margin-left: 40px;
      > a {
        text-decoration: none;
        color: getcolor("main");

        /* identical to box height, or 122% */
        letter-spacing: 0.02em;

        &:hover,
        &:focus {
          color: getcolor("interact");
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header-menu-burger__btn-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transform: translateX(200%);
    width: 100%;
    height: 100%;
    background-color: getcolor("white");
  }
}
