@import "../utils/vars";

.header-container {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.header-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__link {
    color: getcolor("main");
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    width: 137px;
    transition: $transition;

    &:focus {
      outline: $outline-focus;
    }
  }

  li {
    display: inline-block;
    margin-right: 46px;
  }

  &__logo-web {
    color: getcolor("interact");
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }

  &__logo-studio {
    color: #000000;
    font-family: getfont("raleway");
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.nav__list {
  display: none;
}

.header-contact {
  display: none;
}

.header-mobile-menu__btn {
  width: 40px;
  height: 40px;
  background-color: getcolor("white");
  border: none;
  cursor: pointer;
  transition: $transition;
  margin-top: 22px;

  &:focus,
  &:hover {
    fill: getcolor("interact");
    transition: $transition;
  }
}
