@media screen and (min-width: 1200px) {
  .modal__header {
    max-width: 448px;
  }

  .modal__input {
    max-width: 448px;
    margin: 0 0 10px 40px;
  }

  #modal-comments {
    max-width: 448px;
    margin: 0 0 0 40px;
  }

  .modal__terms {
    &-span {
      max-width: 393px;
      font-size: 14px;
    }
  }

  .hidden-checkbox {
    top: 71.8%;
    left: 6.5%;
  }

  .modal__icon-checkbox {
    top: 75.4%;
    left: 8%;
  }

  .modal__icon-checked {
    top: 75.4%;
    left: 8%;
  }
}
