@media screen and (min-width: 1200px) {
  .modal__header {
    max-width: 448px;
    margin: 40px 40px 12px 40px;
  }

  .modal__form label {
    margin-left: 40px;
  }

  .modal__input {
    max-width: 448px;
    margin: 0 0 10px 40px;
  }

  #modal-comments {
    max-width: 448px;
    margin: 0 0 0 40px;
  }

  .modal__terms {
    &-span {
      max-width: 393px;

      font-size: 14px;
    }
  }

  .hidden-checkbox {
    position: absolute;
    top: 72%;
    left: 7%;
    z-index: 10;
    opacity: 0;
  }

  .modal__icon-checkbox {
    position: absolute;
    top: 75.5%;
    left: 8.5%;
  }

  .modal__icon-checked {
    position: absolute;
    top: 75.5%;
    left: 8.5%;
    opacity: 0;
  }
}
