@media screen and (min-width: 1200px) {
  .newsletter {
    display: block;
    margin-left: 78px;
    padding-bottom: 0;

    &__input {
      max-width: 358px;
    }

    &__btn {
      margin-top: 0;
    }

    &__header {
      font-size: 14px;
    }
  }

  .newsletter__form {
    display: flex;
    align-items: center;
  }
}
