@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 78px;
    padding-bottom: 0;

    &__header {
      margin-bottom: 20px;
    }

    &__input {
      width: 358px;
      height: 50px;
    }

    &__btn {
      margin-top: 0;
    }
  }

  .newsletter__form {
    display: flex;
    align-items: center;
  }
}
