@media screen and (min-width: 1200px) {
  .section-main-header {
    height: 600px;
    background: {
      image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/h1_background_1200.jpg");
      size: 1600px auto;
    }

    &__header {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  .section-lorem__lorem-list {
    justify-content: space-between;

    flex-wrap: nowrap;

    > li {
      > svg {
        max-width: 270px;

        > use {
          transform: translateX(37.9%) translateY(21%);
        }
      }
    }
  }

  .section-offer {
    display: block;
    padding-top: 0;
  }

  .section-our-team {
    width: 100%;

    &__header {
      padding-top: 94px;
    }
  }

  .section-our-team__employees {
    display: flex;
    justify-content: space-between;

    > li {
      padding-bottom: 44px;
      margin-bottom: 0;
      width: 270px;
      height: 428px;
      gap: 30px;

      > img {
        width: 270px;
        height: 260px;
      }
    }
  }

  .section-our-team__icons {
    margin-top: 5px;
  }

  .section-our-team__icon {
    margin-bottom: 30px;
  }

  .section-clients__logos {
    margin-bottom: 0;
  }

  .section-clients__logo {
    width: 170px;
    height: 92px;

    > use {
      transform: translate(18.82%, 17.39%);
    }
  }
}
