@import "../../utils/vars";
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }

  .nav__link {
    margin-right: 46px;
  }

  .header-contact__link {
    font-size: 14px;
    line-height: 1.14;

    &:nth-child(2) {
      margin-left: 40px;
    }
  }

  .header-contact {
    flex-direction: row;
    align-items: center;

    a[href^="tel"] {
      margin-top: 0px;
    }
  }

  .header-contact__icon-envelope {
    width: 16px;
    height: 12px;
  }

  .header-contact__icon-phone {
    width: 10px;
    height: 16px;
  }
}
