@import "../../utils/vars";

@media screen and (min-width: 1200px) {
  .projects__list {
    > li {
      margin: 0;
      max-width: 370px;

      &:first-of-type {
        max-height: 404px;
      }

      &:nth-child(2) {
        max-height: 404px;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .projects__box {
    > img {
      max-width: 370px;
    }
  }

  .projects__list > li:first-child .projects__card {
    height: 100%;
  }
}
