@media screen and (min-width: 768px) {
  .modal__header {
    margin: 40px 40px 12px 40px;
  }

  .modal__form label {
    margin-left: 40px;
  }

  .hidden-checkbox {
    top: 73.8%;
    left: 6.3%;
  }

  .modal__icon-checkbox {
    left: 8%;
  }

  .modal__icon-checked {
    left: 8%;
  }
}
