@media screen and (min-width: 768px) {
  footer {
    height: 463px;
  }

  .container-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .section-contact-footer {
    max-width: 350px;
    margin: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .contrainer-footer__address {
    max-width: 253px;
    width: 100%;
    text-align: center;
  }

  .join-us__header {
    margin-left: 144px;
    text-align: center;
  }

  .join-us {
    margin-left: 144px;
  }
}
