@media screen and (min-width: 768px) {
  .section-main-header {
    background: {
      image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/h1_background_768.jpg");
      size: 768px auto;
    }

    @media only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      body {
        background-image: url("h1_background_1200.jpg");
        background-size: cover;
      }
    }
  }

  .section-lorem__lorem-list {
    gap: 30px;

    > li {
      > h2 {
        text-align: start;
      }

      > p {
        max-width: 354px;
        margin-bottom: 0;
      }

      > svg {
        max-width: 354px;

        > use {
          transform: translateX(40%) translateY(25%);
        }
      }
    }
  }

  .section-our-team__employees {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    > li {
      margin-left: auto;
      margin-right: auto;
      max-width: 354px;

      > img {
        max-width: 354px;
        max-height: 374px;
      }
    }
  }
}
