@media screen and (min-width: 768px) {
  .section-main-header {
    background: {
      image: url("../images/h1_background_768.jpg");
    }

    .section-lorem__lorem-list {
      gap: 30px;

      > li {
        > h2 {
          text-align: start;
        }

        > p {
          max-width: 354px;
          margin-bottom: 0;
        }

        > svg {
          max-width: 354px;

          > use {
            transform: translateX(40%) translateY(25%);
          }
        }
      }
    }

    .section-our-team__employees {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;

      > li {
        max-width: 354px;

        > img {
          max-width: 354px;
          max-height: 374px;
        }
      }
    }
  }
}
