@import "../../utils/vars";

@media screen and (min-width: 768px) {
  .projects__list {
    > li {
      max-width: 354px;
      max-height: 404px;

      &:last-child {
        display: block;
      }
    }
  }

  .projects__description {
    max-width: 354px;
  }

  .projects__box {
    > img {
      max-width: 354px;
    }
  }
}
