@import "../../utils/vars";

@media screen and (min-width: 768px) {
  .projects__list {
    > li {
      max-width: 354px;
      max-height: 404px;

      &:first-of-type {
        max-height: 440px;
      }

      &:nth-child(2) {
        max-height: 440px;
      }

      &:last-child {
        display: block;
      }
    }
  }

  .projects__description {
    max-width: 370px;
  }

  .projects__box {
    > img {
      max-width: 354px;
    }
  }

  .projects__list > li:first-child .projects__card {
    height: 147px;
  }
}
